.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.container > * {
  padding: 1rem;
  margin: 0;
}

/* extremely basic formatting */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.one,
.four {
  border: 2px solid #26547c;
  background-color: #26547c33;
}
.two,
.five {
  border: 2px solid #ef476f;
  background-color: #ef476f33;
}
.three,
.six {
  border: 2px solid #ffd166;
  background-color: #ffd16633;
}
