img {
  max-width: 100%;
}
.pluto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
img:first-child, img:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
img:last-child {
    animation: pluto-fade 3s infinite alternate;
}
@keyframes pluto-fade { 
  from { 
    opacity: 0; 
  } 
  to {
    opacity: 1;
  }
}