.theme {
  --color-bg: #0D1421;
  --color-shadow:#060A10;

  --color-text-primary: #F5F7FB;
  --color-text-secondary: #7A8295;
  --color-text-accent: #6385C2;
  --color-text-shadow:#060A10;

  --color-primary:#242B38;
  --color-primary-light:#343B45;

  --color-border-light: #434854;
  --color-border-dark:#131D31;

  --color-delete-icon: invert(100%);

  --hero-gradient: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
  --button-gradient: linear-gradient(144deg, #71C4FFFF 20%, #D3FF6D 100%);
  --button-gradient: linear-gradient(144deg, #7391C8 10%, #2de2bd 60%,#f9f871 100%);

}