.task-button {
  position: relative;
  cursor: pointer;
  margin-top: 3px;
  color: var(--color-text-soft);
  &.done,
  &.done:hover {
    & .material-symbols-rounded.task-button {
      color: transparent;
    }
    & .material-symbols-rounded.task-button-background {
      opacity: 0.9;
      color: var(--white);
      transition: none;
    }
    & .material-symbols-rounded.task-delete-button,
    & .material-symbols-rounded.task-restore_from_trash-button {
      opacity: 0.7;
      color: var(--white);
      transition: all 0.2s ease-in 0.2s;
    }
  }
  &.completed,
  &.completed:hover {
    & .material-symbols-rounded.task-button {
      color: transparent;
    }
    & .material-symbols-rounded.task-button-background {
      color: var(--color-background-accent-mid);
      opacity: 0.75;
    }
  }
  &.completed .material-symbols-rounded.task-button-background:hover {
    opacity: 1;
    color: var(--color-background-accent-strong);

  }
  &:hover {
    & .material-symbols-rounded.task-button {
      color: var(--color-background-accent);
    }
    & .material-symbols-rounded.task-delete-button {
      color:var(--color-danger);
    }
    & .material-symbols-rounded.task-restore_from_trash-button {
      color:var(--color-text);
    }
    & .material-symbols-rounded.task-button-background {
      opacity: 0.2;
    }
  }
}

.task-button >.material-symbols-rounded {
  font-size: 23px;
  position: relative;
  font-variation-settings:
  'FILL' 0,
  'wght' 275,
  'GRAD' 0,
  'opsz' 0;
}

.material-symbols-rounded.task-button-background {
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 3px;
  opacity: 0;
  color: var(--color-background-accent-light);
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 0;
}

.createTaskButton {
  display: flex;
  width: fit-content;
  padding: 2px 8px 2px 2px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-soft);
  gap: 2px;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-small);
  & p {
    padding-bottom: 1px;
  }
  &:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text)
  }
  & span {
    font-size: 21px;
  }
}