.button-background {
    border-radius: 50%;
    background-image: var(--button-gradient);
    opacity: 0%;
    &.done {
      opacity: 80%;
        &:hover {
          opacity: 100%;
      }
    }
    &.pendant {
      opacity: 0%;
      &:hover {
        opacity: 50%;
      }
  }
}

.button {
  border: 1px solid var(--color-border-light);
  border-radius: 50%;
  &.inactive {
    pointer-events: none;
    opacity: 1;
  }
}

.button,
.deleted, 
.current {
  height: 20px;
  aspect-ratio: 1;
  margin: 10px;
}

.deleted {
  transform: rotate(45deg);
}

.check-icon,
.delete-icon {
  display: flex;
  aspect-ratio: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  scale: 60%;
}

.check-icon {
  background-image: url('../../public/check.png');
  filter: invert(100%);

}

.delete-icon {
  background-image: url('../../public/cross.png');
  filter: var(--color-delete-icon);
  opacity: 50%;
  &:hover {
    opacity: 100%;
  }
}
