.wrapper {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; 
  width: 100%;
  height: 100%;
  >.hero-banner {
    height: 210px;
    background-image: var(--hero-gradient);
    &.dark {
      background-size: 150%;
      opacity: 0.50;
    }
    &.light {
      background-size: 350%;
      background-position-x: -150px;
      filter:hue-rotate(45deg);
      opacity: 0.80;
    }
  } 
}

.app-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:2rem;
}

header {
  min-height: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

main {
  height: 100%;
  >* {
    width: 100%;
  }
}

footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
