.single-box{
  display: flex;
  color:var(--color-text-primary);
  height: 40px;
  align-items: center;
  padding: 0 0.5rem 0 0;
  justify-content: space-evenly;
}

.buttons-box {
  display: flex;
  width: 250px;
  justify-content: space-around;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  font-weight: bold;
}

.filter-active {
  color: var(--color-text-accent);
  text-shadow: 0 0 10px var(--color-text-shadow);
}

.manage-box{
  display: flex;
  width: 100%;
  padding-left: 0.5rem;
  margin:0 1rem;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--color-text-secondary);

}
.rounded {
  border-radius: 5px; 
  border:1px solid var(--color-border-dark);
  background-color: var(--color-primary);
  box-shadow: 0px 0px 20px -3px var(--color-shadow);
}

.task {
  border-bottom: 1px solid var(--color-border-light);
  &:first-child {
    border-radius: 5px 5px 0px 0px;
  }
  &.last-task {
    border-bottom: none;
    border-radius: 0px 0px 5px 5px;
  }
}

ul {
  position: absolute;
  overflow-y: scroll;
  max-height: calc(100vh - 6rem - 280px);
  width: 100%;
  & .single-box:last-child {
    position: sticky;
    bottom: 0;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-border-light);
  }
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-track {
  background-color:var(--color-primary-dark);
  border-left: 1px solid var(--color-border-dark);
  border-radius: 0 8px 8px 0;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
  border-radius: 10px;
  border:1px solid var(--color-border-dark);
}

.task-list-wraper {
  position: relative;
  max-height: calc(100vh - 6rem - 280px);
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}

form {
  width: 100%;
}

input {
  display: flex;
  color: var(--color-text-primary);
  background-color: transparent;
  height: 40px;
  width: 100%;
  border: none;
  &::placeholder {
    color:var(--color-text-secondary)
  }
  &:focus-visible {
    border:none;
    outline: none;
  }
}

