.material-symbols-rounded {
  color: var(--color-background-contrast);
  transform: scale(0.95);
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 24;
  &.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 350,
    'GRAD' 0,
    'opsz' 24
  }
}


.sideBar-navigationCard {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 6px 8px;
  margin: 0 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 15px;
  &:hover {
    background-color: var(--color-background-hover);
  }
  &:active {
    background-color: var(--color-background-selected);
  }
}