.sideBar-icon {
  color: var(--color-background-contrast);
}

.sideBar-navigationCard {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 6px 8px;
  margin: 0 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 15px;
  &:hover {
    background-color: var(--color-background-hover);
  }
  &:active {
    background-color: var(--color-background-selected);
  }
}

.tabsList {
  display: flex;
  gap: 16px;
  padding: 10px 0px 0px;
  font-weight: 500;
  color: var(--color-text-soft);
  font-size: 14px;
  cursor: pointer;
}

.tabNavigationCard {
  &.active {
    color: var(--color-text);
    border-bottom: 2px solid var(--blue-213-500);
    text-shadow: 0px 0px 0.65px var(--color-text-soft);
      & .tabNavigationCard-decoration {
      transform: scaleX(1);
    }
  }
  &:hover {
  color: var(--color-text);
  border-bottom: 2px solid var(--blue-213-500);
    & .tabNavigationCard-decoration {
      transform: scaleX(1);
    }
  }
}

.tabNavigationCard-decoration {
  height: 2px;
  width: 100%;
  background-color: var(--color-text-soft);
  margin-top: 6px;
  transform: scaleX(0);
  transform-origin: center;
}