@import "./palette.module.css";

.theme {
  --color-background: var(--white);
  --color-background-enphasis: var(--gray-100);
  /* --color-background-contrast: var(--very-light-gray); */

  --color-border: var(--gray-200);
  --color-text: var(--black);
}