.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
}

.main-card {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  >div {
    padding:0.25rem 0;
  }
  >div:first-child{
    font-size: 1.5rem;
    font-weight: bold;
  }
  >div:last-child {
    padding-right: 2rem;
    font-size: 4rem;
    text-align: right;
    font-weight: bold;
    height: 40%;
    align-content: center;
    
  }
}

.data-card {
  height: 125px;
}

.daily-card {
  height: 75px;
}

.hourly-card{
  height: 50px;
}