@import "./cards.css";
@import "./layout.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  color: var(--color-text);

}

main {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0.5rem;
  * {
    border-radius: 8px;
  }
}