.homePage-taskItem {
  position: relative;
  height: 34px;
  z-index: 0;
  transform-origin: top;
  &:hover {
  & .homePage-taskItem-background {
    background-color: var(--color-background-enphasis);
  }
  & .task-title {
    border: 1px solid var(--color-line);
    &.selected {
      border-color: transparent;
    }
  }
  }
  &:first-child .homePage-taskItem-task {
    border-top: 1px solid var(--color-line);
    height: 33.5px;
    &.selected {
      border-color: var(--color-line-accent);
    }
  }
  &:first-child .homePage-taskItem-background {
    height: calc(100% - 0.5px);
  }
  &.selected {
    z-index: 1;
  }
  &.done {
    animation: taskDone 0.75s ease-in-out forwards;
  }
}

.homePage-taskItem-task {
  display: flex;
  gap: 8px;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
  width: calc(100% - 8px - 24px - 24px);
  margin-left: 24px;
  position: relative;
  &.selected {
    border-color: var(--color-line-accent);
  }
  & .task-button:last-child {
    margin-left: auto;
  }
}

.homePage-taskItem-background {
  background-color: transparent;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  top: 0;
  z-index: -1;
  height: calc(100% - 0.5px);
  width: calc(100%);
  &.selected {
    background-color: transparent;
    border-color: var(--color-line-accent);
  }
  &::before{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-background-done-gradient);
    transform: scaleX(0);
    transform-origin: left top;
  }
  &.done{
    &::before{
    animation: taskDoneBackground 0.75s ease-in-out;
  }
  }
}

@keyframes taskDoneBackground {
  0% {
    transform: scaleX(0);
  }
  35% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes taskDone {
  0% {
    height: 34px;
    transform: scaleY(1) translateY(0px);

  }
  80% {
    height: 34px;
    transform: scaleY(1) translateY(0px);
    opacity: 1;

  }
  100% {
    height: 0px;
    transform: scaleY(0) translateY(34px);
    display: none;
    opacity: 0;
  }
}

.task-title {
  border: 1px solid transparent;
  padding: 1px;
  margin-bottom: 1px;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis; 
  width: 100%;
  &:hover {
    border: 1px solid var(--color-line-hover) !important;
  }
  &.selected {
    border-color: transparent !important;
  }
}