@import "../layouts/Desktop/desktopStyles.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.2s all;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

.appRoot {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow-y: auto;
}