  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin:0;
    padding:0;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275)
  }
  body {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1rem;
    /* line-height: 1.5; */
  }
  
  .container{
    display: grid;
    height: 100vh;
    grid-template-rows: 50% auto;
  }
  .ex1{
    display: grid;
    grid-template-columns: 100px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    grid-template-areas: 
    "header header header header"
    "main main center sidebar"
    "footer footer footer footer";
    column-gap: 15px;
    row-gap: 15px;
    justify-items: start;
    justify-content: center;
    align-content: start;
  }

  [class*="item"]{
    border-radius: 5px;
    border:3px solid transparent;
  }
  .item-a{
    background-color: #ff968760;
    border-color:#ff9687 ;
    /* grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:3; */
    /* grid-area: header; */
    justify-self: stretch;
    align-self: end;


  }
  .item-b{
    background-color: #9c4c8d60;
    border-color:#9c4c8d ;
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2; */
    /* grid-area: main; */
    grid-area: center;
    place-self: center end;
  }
  .item-c{
    background-color: #ca80b160;
    border-color:#ca80b1 ;
    /* grid-column: 3 / span 2;
    grid-row: 3 / 4; */
    grid-area: sidebar;
  }
  .item-d{
    background-color: #33becc60;
    border-color:#33becc ;
    /* grid-area: 1/ 4 / -1 / 6; */
    grid-area:footer;
  }
  .item-e{
    background-color: #d8ae48;
  }
  .ex2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));

    gap:1rem;
  }